body {
  margin: 0;
  padding: 0;
  width: 1200px;
  font-family: "PT Sans", "Verdana", sans-serif;
}	

header {
  height: 320px;
  background-color: #F1F5F7;
}

h1 {
  font-style: italic;
  font-size: 16px;
  font-size: 16px;
  line-height: 23px;
  color: #EE3643;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.up-header {
  height: 42px;
  background-color: #293449;
  display: grid;
  grid-template-columns: 350px 270px 150px 150px 280px;
}

.up-header__home {
  height: 47px;
  width: 220px;
  background-color: #EE3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  justify-self: end;
}

.up-header__home a {
  padding: 12px 56px 13px;
  display: block;
  align-self: start;
}

.up-header form {
  width: 270px;
  height: 42px;
  display: grid;
  grid-template-columns: 42px 228px;
}

.up-header__search-button {
  border: none;
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 12px 8px 13px 17px;
  background-color: rgba(0, 0, 0, 0.0);
  opacity: 0.3;
}

.up-header__search-field {
  height: 24px;
  width: 211px;
  padding: 0;
  border: none;
  background-color: #293449;
  align-self: center;
}

.up-header__search-field::placeholder {
  color: white;
}

.up-header__bookmarks {
  height: 42px;
  align-items: center;
}

.up-header__bookmarks img {
  width: 14px;
  height: 16px;
  opacity: 0.3;
}

.up-header__bookmarks a {
  vertical-align: middle;
}

.up-header__purchase {
  height: 42px;
  width: 150px;
  border: 0;
  padding: 0;
  background-color: #63A63E;
  color: white;
}

.services {
  background-color: #F1F5F7;
}
