/* Vars */

:root {
  --basic-blue: #32425C;
  --basic-dark-blue: #293449;
  --basic-nav-blue: #1D2739;
  --basic-light-blue: #F1F5F7;
  --basic-tan: #F9F5F0;
  --basic-grey: #EAEAEA;

  --letter-gold: #FFD180;
  --letter-white: #ffffff;
  --letter-white-opacity: rgba(255, 255, 255, 0.5);
  --letter-black: #000000;
  --letter-grey: #C5C5C5;
  --letter-light-grey: #A9A9A9;

  --button-red: #EE3643;
  --button-red-active: #BA2732;
  --button-red-hover: #CA2C37;

  --button-green: #63A63E;
  --button-green-hover: #5FBB2D;
  --button-green-active: #518534;

  --button-black: #161D29;
  --promo-button-hover-opacity: rgba(197, 197, 197, 0.3);
  --promo-button-active-opacity: rgba(169, 169, 169, 0.3);

  --promo-yellow: #FFBF47;
  --promo-blue: #3BBCE3;
  --promo-purple: #DC91D8;
  --promo-green: #8ED78F;

  --social-dark: #212A3A;

  --search-opacity: 0.3;
  --bookmarks-opacity: 0.3;
  --cart-opacity: 0.3;
}

/* Global */

body {
  margin: 0;
  padding: 0;
  width: 1200px;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--letter-black);
  background-color: var(--letter-white);
}

header {
  height: 320px;
  background-color: var(--basic-light-blue);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* up-header home*/

.up-header {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--letter-white);
  height: 42px;
  background-color: var(--basic-dark-blue);
  display: grid;
  grid-template-columns: 350px 270px 150px 150px 280px;
}

.up-header__home {
  height: 42px;
  width: 220px;
  background-color: var(--button-red);
  box-shadow: 0px 5px 0px var(--button-red-active);
  justify-self: end;
}

.up-header__home a {
  padding: 12px 56px 17px;
  display: block;
  height: 18px;
  width: 108px;
}

.up-header__home:active {
  background-color: var(--button-red-active);
  box-shadow: 0 5px 0 #822732;
}

/* up-header search*/

.up-header form {
  width: 270px;
  height: 42px;
  display: grid;
  grid-template-columns: 42px 228px;
  grid-template-areas: "button field";
}

.up-header form:hover {
  --search-opacity: 1;
}

.up-header__search-button {
  grid-area: button;
  width: 42px;
  height: 42px;
  border: none;
  padding: 12px 8px 13px 17px;
  background-color: rgba(0, 0, 0, 0.0);
  opacity: var(--search-opacity);
}

.up-header__search-button:focus-visible {
  --search-opacity: 1;
  outline: none;
}

.up-header__search-field {
  grid-area: field;
  height: 42px;
  width: 228px;
  padding: 0 8px 0 0;
  color: var(--letter-white);
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.0);
  align-self: center;
}

/* вот бы я заранее прочитал и запомнил */
/* :focus-within */

.up-header__search-field:focus+.up-header__search-button {
  --search-opacity: 1;
  background-color: var(--letter-white);
}

.up-header__search-field:focus+.up-header__search-button>img {
  filter: invert(29%) sepia(88%) saturate(2574%) hue-rotate(337deg) brightness(96%) contrast(95%);
}

.up-header__search-field:focus {
  border: none;
  color: var(--letter-black);
  background-color: var(--letter-white);
}

.up-header__search-field::placeholder {
  color: var(--letter-white);
}

.up-header__search-field:focus::placeholder {
  opacity: 0;
}

/* up-header bookmarks*/

.up-header__bookmarks {
  height: 42px;
}

.up-header__bookmarks_in {
  background-color: var(--button-red);
}

.up-header__bookmarks_in:active {
  background-color: var(--button-red-active);
}

.up-header__bookmarks a:focus-visible,
.up-header__bookmarks a:hover {
  --bookmarks-opacity: 1;
}

.up-header__bookmarks a:active {
  background-color: var(--button-black);
  opacity: 0.5;
  --bookmarks-opacity: 0.3;
}

.up-header__bookmarks img {
  justify-self: center;
  opacity: var(--bookmarks-opacity);
}

.up-header__bookmarks a {
  height: 42px;
  color: var(--letter-white);
  display: grid;
  grid-template-columns: 43px 72px 35px;
  align-items: center;
}

/* up-header cart*/

.up-header__cart {
  height: 42px;
}

.up-header__cart_in {
  background-color: var(--button-red);
}

.up-header__cart_in:active {
  background-color: var(--button-red-active);
}

.up-header__cart a:focus-visible,
.up-header__cart a:hover {
  --cart-opacity: 1;
}

.up-header__cart a:active {
  background-color: var(--button-black);
  opacity: 0.5;
  --cart-opacity: 0.3;
}

.up-header__cart img {
  justify-self: center;
  opacity: var(--cart-opacity);
}

.up-header__cart a {
  height: 42px;
  color: var(--letter-white);
  display: grid;
  grid-template-columns: 43px 64px 41px;
  align-items: center;
}

/* up-header purchase*/

.up-header__purchase {
  height: 42px;
  width: 150px;
  border: 0;
  padding: 0;
  background-color: var(--button-green);
  color: var(--letter-white);
}

.up-header__purchase:hover,
.up-header__purchase:focus-visible {
  background-color: var(--button-green-hover);
}

.up-header__purchase:active {
  color: var(--letter-white-opacity);
}

/* header h1 */

h1 {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--button-red);
  margin: 0;
  padding-top: 43px;
  ;
  padding-left: 160px;
}

/* header adress */

.header {
  display: grid;
  grid-template-columns: 357px 413px 430px;
}

.header__adress a {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--button-red);

  display: block;
  width: 193px;
  height: 30px;
  margin: 46px 0 0 93px;
  padding: 4px 0 5px 71px;


  border: 3px solid var(--letter-white);
  background-image: url(../img/icons/phone.svg);
  background-repeat: no-repeat;
  background-position: 36px 10px;
}

.header__adress p {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 3px 0 0 99px;
}

/* header auth */

.header__auth {
  list-style: none;
  margin: 46px 130px 67px 0;
  padding: 0;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;

  display: grid;
  grid-template-columns: 150px 280px;
  height: 45px;
  align-items: center;
}

.header__auth li:first-child a {
  color: var(--letter-black);
  background-color: var(--letter-white);
  background-image: url(../img/icons/login.svg);
  background-repeat: no-repeat;
  background-position: 19px 14px;
  padding: 11px 27px 10px 45px;
  margin-left: 19px;
}

.header__auth li:first-child a:hover,
.header__auth li:first-child a:focus-visible {
  color: var(--button-red);
  background-image: url(../img/icons/login-hover.svg);
}

.header__auth li:first-child a:active {
  color: var(--letter-grey);
  background-image: url(../img/icons/login.svg);
}

.header__auth li:last-child a {
  color: var(--letter-black);
  background-color: var(--letter-white);
  padding: 11px 24px 10px 24px;
}

.header__auth li:last-child a:hover,
.header__auth li:last-child a:focus-visible {
  color: var(--button-red);
}

.header__auth li:last-child a:active {
  color: var(--letter-grey);
}

.header__auth_logged {
  list-style: none;
  margin: 46px 130px 42px 0;
  padding: 0;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;

  display: grid;
  grid-template-areas: 'name name logout'
    'orders private private';
  grid-template-columns: 150px 105px 45px;
  grid-template-rows: 45px 25px;
  height: 70px;
}

.header__auth_logged li:nth-child(1) {
  grid-area: name;
}

.header__auth_logged li:nth-child(1) a {
  color: var(--letter-black);
  padding: 13px 13px 11px 56px;
  display: block;
  align-self: center;

  background-color: var(--letter-white);
  background-image: url(../img/icons/user.svg);
  background-repeat: no-repeat;
  background-position: 15px 13px;
}

.header__auth_logged li:nth-child(1) a:hover,
.header__auth_logged li:nth-child(1) a:focus-visible {
  background-image: url(../img/icons/user-hover.svg);
}

.header__auth_logged li:nth-child(1) a:active {
  background-image: url(../img/icons/user.svg);
  color: var(--letter-grey);
}

.header__auth_logged li:nth-child(2) {
  grid-area: logout;
}

.header__auth_logged li:nth-child(2) a {
  color: var(--letter-black);
  padding: 14px 17px 14px 8px;
  display: block;
  height: 17px;
  align-self: center;
  background-color: var(--letter-white);
}

.header__auth_logged li:nth-child(2) a:hover>img,
.header__auth_logged li:nth-child(2) a:focus-visible>img {
  filter: invert(28%) sepia(59%) saturate(320%) hue-rotate(170deg) brightness(50%) contrast(89%);
}

.header__auth_logged li:nth-child(2) a:active>img {
  filter: none;
}

.header__auth_logged li:nth-child(3) {
  grid-area: orders;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
  padding-top: 7px;
  padding-left: 45px;
  background-image: url(../img/icons/dot.svg);
  background-repeat: no-repeat;
  background-position: 133px 13px;
}

.header__auth_logged li:nth-child(3) a:hover,
.header__auth_logged li:nth-child(3) a:focus-visible {
  color: var(--button-red)
}

.header__auth_logged li:nth-child(3) a:active {
  color: var(--letter-grey);
}

.header__auth_logged li:nth-child(4) {
  grid-area: private;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
  padding-top: 7px;
}

.header__auth_logged li:nth-child(4) a:hover,
.header__auth_logged li:nth-child(4) a:focus-visible {
  color: var(--button-red)
}

.header__auth_logged li:nth-child(4) a:active {
  color: var(--letter-grey);
}

/* header nav */

nav {
  margin: 0 130px;
  height: 60px;

  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px #293449;
}

nav a {
  color: var(--letter-white);
}

nav a:hover,
nav a:focus-visible {
  background-color: var(--basic-dark-blue);
}

nav a:active {
  color: var(--letter-white-opacity);
  background-color: var(--basic-nav-blue);
}

.header-nav {
  height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
}

/* promo */

.promo__item_yellow {
  background-color: var(--promo-yellow);
}

.promo__item_blue {
  background-color: var(--promo-blue);
}

.promo__item_green {
  background-color: var(--promo-green);
}

.promo__item_purple {
  background-color: var(--promo-purple);
}

/* .promo__item_new {
  
} */

.promo__item h3 {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--letter-white);
}

.promo__item a {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--letter-white);
  text-transform: uppercase;

  background-color: var(--letter-white-opacity);
}

.promo__item a:hover,
.promo__item a:focus-visible {
  background-color: var(--promo-button-hover-opacity);
}

.promo__item a:active {
  background-color: var(--promo-button-active-opacity);

}

.promo__slider {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--letter-white);

  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--letter-grey);
}

.promo__slider li:nth-child(1) {
  background-image: url(../img/promo/font-perf.jpg);
  background-repeat: no-repeat;
}

.promo__slider li:nth-child(2) {
  background-image: url(../img/promo/font-drill.jpg);
  background-repeat: no-repeat;
}

.promo__slider h3 {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo__slider a {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--letter-white);
  text-transform: uppercase;

  background-color: var(--button-red);
}

.promo__slider a:hover,
.promo__slider a:focus-visible {
  background-color: var(--button-red-hover);
}

.promo__slider a:active {
  background-color: var(--button-red-active);
}

/* hot-goods hot-manufacturers h2 */

.hot-goods h2,
.hot-manufacturers h2 {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;

  background-color: var(--basic-tan);
}

.hot-goods>a,
.hot-manufacturers>a {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--letter-white);
  text-transform: uppercase;

  background-color: var(--button-red);
}

.hot-goods>a:hover,
.hot-goods>a:focus-visible,
.hot-manufacturers>a:hover,
.hot-manufacturers>a:focus-visible {
  background-color: var(--button-red-hover);
}

.hot-goods>a:active,
.hot-manufacturers>a:active {
  background-color: var(--button-red-active);
}

/* goods list and card */

.hot-goods ul,
.goods ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hot-goods__item,
.goods__item {
  border: 1px solid var(--basic-grey);
  text-align: center;
}

.hot-goods__item:hover,
.goods__item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.hot-goods__item h4,
.goods__item h4 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--letter-black);
  text-align: center;
}

.hot-goods__item span,
.goods__item span {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--letter-light-grey);
  text-decoration: line-through;
}

.price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--letter-white);

  background-image: url(../img/icons/price.svg);
  background-repeat: no-repeat;
}

.in-cart {
  width: 135px;
  height: 38px;
  padding: 0;

  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--letter-white);
  text-transform: uppercase;

  border: none;
  border-radius: 2px;
  background-image: url(../img/icons/cart-opacity.svg);
  background-repeat: no-repeat;
  background-color: var(--button-green);
  box-shadow: inset 0px -3px 0px #367315;
}

.in-cart:hover,
.in-cart:focus-visible {
  background-color: var(--button-green-hover);
}

.in-cart:active {
  background-color: var(--button-green-active);
}

.in-bookmarks {
  width: 135px;
  height: 38px;
  padding: 0;

  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-blue);
  text-transform: uppercase;

  border: 3px solid var(--button-green);
  border-radius: 2px;
  background-color: var(--letter-white);
}

.in-bookmarks:hover,
.in-bookmarks:focus-visible {
  border: 3px solid var(--basic-blue);
}

.in-bookmarks:active {
  border: 3px solid var(--basic-blue);
  opacity: 0.5;
}

/* manufacturers list */

.hot-manufacturers ul {
  display: flex;

  list-style: none;
  padding: 0;
  margin: 0;
}

.hot-manufacturers__item {
  border: 1px solid var(--basic-grey);
  width: 220px;
  height: 145px;
}

.hot-manufacturers__item a:hover,
.hot-manufacturers__item a:focus-visible {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.hot-manufacturers a:active {
  opacity: 0.3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* services */

.services {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  background-color: var(--basic-light-blue);
}

.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services h2,
.services h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__item {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}
